DB_PATH="./tubely.db"
JWT_SECRET="JKFNDKAJSDKFASFNJWIROIOTNKNFDSKNFD"
PLATFORM="dev"
FILEPATH_ROOT="./app"
ASSETS_ROOT="./assets"
PORT="8091"

# S3
S3_BUCKET="tubely-123456789"
S3_REGION="us-east-2"
S3_CF_DISTRO="TEST"
S3_URL="http://localhost:8333"

# aws credentials should be set in ~/.aws/credentials
# using the `aws configure` command, the SDK will automatically
# read them from there
# or set them here to bypass `aws`, e.g. for local dev with SeaweedFS
AWS_ACCESS_KEY_ID="admin"
AWS_SECRET_ACCESS_KEY="password"
